@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.loader.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.navbar {
  width: fit-content;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 0 0 0 10px;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: background-color 0.3s ease;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  position: relative;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #ffcc00;
  transition: width 0.3s ease;
  transition-delay: 0.1s;
}

.navbar a:hover::after {
  width: 100%;
  left: 0;
  background: #ffcc00;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
    border-radius: 0 0 10px 10px;
  }

  .navbar a {
    font-size: 1rem;
    display: none;
    width: 100%;
    padding: 0.5rem 0;
  }

  .navbar a.active {
    display: block;
  }

  .navbar-toggle {
    display: block;
  }
}

#nav-list {
  display: flex;
}

#nav-list a {
  margin: 1rem;
}

#nav-list a:hover {
  opacity: 0.7;
}

@keyframes appear-02 {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  /* From https://css.glass */
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  animation: appear-02 linear;
  animation-timeline: view();
  animation-range: entry 0;
}

.box {
  width: 100%;
  animation: appear-02 linear;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
}

a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}

.section {
  position: relative;
  width: 100%;
  display: block;
}
.full-height {
  min-height: 100vh;
}
.over-hide {
  overflow: hidden;
}
.padding-tb {
  padding: 100px 0;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  margin-right: 6px;
  margin-left: 6px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid #bdc3c7;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-image: url("https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  animation: border-transform 6s linear infinite alternate forwards;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
}
.checkbox.scnd + label {
  background-image: url("https://images.pexels.com/photos/1181275/pexels-photo-1181275.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.checkbox.thrd + label {
  background-image: url("https://images.pexels.com/photos/1181671/pexels-photo-1181671.jpeg");
}
.checkbox.foth + label {
  background-image: url("https://images.pexels.com/photos/5483064/pexels-photo-5483064.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.checkbox:checked + label {
  box-shadow: 0 8px 25px 0 rgba(16, 39, 112, 0.3);
  transform: scale(1.3);
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}
@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.slider-height-padding {
  padding-top: 440px;
}

ul {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 100;
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: 100;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 400px;
  border: 5px solid #bdc3c7;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  border-radius: 50%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 2.7;
  color: #343434;
  writing-mode: vertical-rl;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 8px 25px 0 rgba(16, 39, 112, 0.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
ul li span {
  mix-blend-mode: difference;
}
ul li:nth-child(2) {
  background-image: url("https://images.pexels.com/photos/1181275/pexels-photo-1181275.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
ul li:nth-child(3) {
  background-image: url("https://images.pexels.com/photos/1181671/pexels-photo-1181671.jpeg");
}
ul li:nth-child(4) {
  background-image: url("https://images.pexels.com/photos/5483064/pexels-photo-5483064.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.checkbox.frst:checked ~ ul li:nth-child(1) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}
.checkbox.scnd:checked ~ ul li:nth-child(2) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}
.checkbox.thrd:checked ~ ul li:nth-child(3) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}
.checkbox.foth:checked ~ ul li:nth-child(4) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}

.logo {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}
.logo img {
  height: 26px;
  width: auto;
  display: block;
}

@media (max-width: 767px) {
  .slider-height-padding {
    padding-top: 340px;
  }
  ul li {
    height: 300px;
    font-size: 13px;
    letter-spacing: 1px;
  }
}

@media (max-width: 575px) {
  .slider-height-padding {
    padding-top: 240px;
  }
  ul li {
    height: 200px;
  }
}

.site-footer {
  background-color: #000000; /* Brown background */
  color: #eeece6; /* Light beige text */
  padding: 25px;
  width: auto;
  box-sizing: border-box;
  min-height: 300px;
  display: flex;
  justify-content: center;
  border-left: solid 5px white;
  border-right: solid 5px white;
  border-bottom: solid 5px white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.footer-content {
  width: 100%;
  max-width: 1200px; /* Adjust max-width to center the content nicely */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
  gap: 30px; /* Increase space between columns */
  align-items: center;
}

.footer-logo {
  max-width: 250px; /* Ensure the logo scales nicely */
  height: auto;
  fill: #ffffff; /* White fill for the logo */
}

.footer-info {
  max-width: 100%;
}

.footer-business-name {
  font-size: 18px !important;
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-business-address,
.footer-business-phone {
  font-size: 16px;
  margin: 5px 0;
  line-height: 1.5;
  letter-spacing: 1px;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-nav li {
  margin-right: 15px;
  margin-bottom: 10px;
}

.footer-nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s ease;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer-nav a:hover {
  color: #d1bfa7; /* Lightened color on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr; /* Stack columns vertically on small screens */
    text-align: center;
    transform: scale(0.9);
  }

  .footer-nav ul {
    justify-content: center;
  }
}

#know-more-btn .contentBox {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#know-more-btn .buttonBox {
  margin: 0 20px 40px;
  position: relative;
  max-width: 200px;
  min-width: 150px;
  flex: 20%;
  padding: 6px;
}

#know-more-btn button {
  width: 100%;
  height: 60px;

  position: relative;
  background: #ffffff;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  font-size: 15px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  cursor: pointer;
}

/* FIRST BUTTON */

.border {
  position: absolute;
  background: none;
  transition: all 0.5s ease-in-out;
}

#first > .border:nth-of-type(1) {
  top: 0;
  left: 0;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  width: 0px;
  height: 0px;
}

#first > .border:nth-of-type(2) {
  bottom: 0;
  right: 0;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  width: 0px;
  height: 0px;
}

#first:hover .border:nth-of-type(1) {
  width: 106%;
  height: 115%;
  border-left: 1px solid #89c341;
  border-top: 1px solid #89c341;
}

#first:hover .border:nth-of-type(2) {
  width: 106%;
  height: 115%;
  border-right: 1px solid #89c341;
  border-bottom: 1px solid #89c341;
}

/* .buttonBox::after {
  content: "";
  position: absolute;
  font-size: 0;
  padding: 0;
  left: 100%;
  margin-left: -1px;
  color: #89c341;
  opacity: 0;
  top: -30px;
  transition: all 0.6s ease-in-out;
  pointer-events: none;
} */

/* .buttonBox:hover::after {
  border: 1px solid #89c341;
  padding: 5px 20px;
  font-size: 16px;
  opacity: 1;
} */

@keyframes appear-01 {
  from {
    opacity: 0;
    transform: translateY(400px);
    /* clip-path: inset(100% 100% 0 0); */
  }
  to {
    opacity: 1;
    transform: translateY(0px);
    /* clip-path: inset(0 0 0 0); */
  }
}

#video-sec,
#about-me {
  animation: appear-01 linear;
  animation-timeline: view();
  animation-range: entry 0%;
}

@keyframes appear-03 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.experiences-text {
  animation: appear-03 linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appear-04 {
  from {
    opacity: 0;
    transform: translateX(-400px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.left-in {
  animation: appear-04 linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appear-05 {
  from {
    opacity: 0;
    transform: translateX(400px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.right-in {
  animation: appear-05 linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appear-06 {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.top-in {
  animation: appear-06 linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.social-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-container h1 {
  margin: 20px 0;
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 4px;
  color: #555;
  text-align: center;
}

.social-media a {
  display: flex;
  background: #e3edf7;
  height: 35px;
  width: 35px;
  margin: 0 10px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7); */
  border: 1px solid rgba(0, 0, 0, 0);
  transition: transform 0.5s;
}

.social-media a i {
  font-size: 20px;
  color: #777;
  transition: transform 0.5s;
}

.social-media a:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.01);
  transform: translateY(2px);
}

.social-media a:hover i {
  transform: scale(0.9);
}

.social-media a:hover .fa-facebook {
  color: #3b5998;
}

.social-media a:hover .fa-twitter {
  color: #00acee;
}

.social-media a:hover .fa-github {
  color: #000000;
}

.social-media a:hover .fa-instagram {
  color: #f14843;
}

.social-media a:hover .fa-linkedin-in {
  color: #3b5998;
}

.white-underline {
  border-bottom: solid 1px white;
}
